body {
 background-color: white;
}

.circle {
 display: flex;
 align-items: center;
 justify-content: center;
}

.dot {
 height: 579px;
 width: 579px;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #26b6e3;
 border-radius: 50%;
 display: inline-block;
 gap: 0px;
 opacity: 0px;
}

.startTheQuiz {
 width: 483px;
 height: 288px;
 gap: 0px;
 opacity: 0px;
 font-family: Poppins;
 font-size: 96px;
 font-weight: 400;
 line-height: 144px;
 text-align: center;
 color: #ffffff;
}
